.label {
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

.button {
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
}

.buttons {
	-fx-spacing: 15px;
}

.labels > Label {
    -fx-max-width: 640px;
    -fx-pref-height: 25px;
    -fx-padding: 0 0 0 15px;
    -fx-text-fill: #f00;
    -fx-wrap-text: true;
}

.main-box {
	-fx-pref-width: 640px;
}

.analysis-buttons {
	-fx-pref-height: 200px;
	-fx-pref-width: 100px;
	-fx-spacing: 20px;
    -fx-padding: 15px;
}

.analysis-spacing {
    -fx-spacing: 15px;
}

.analysis-text-out {
    -fx-padding: 15px;
    -fx-font-family: 'monospace';
}
.analysis-text {
    -fx-pref-height: 290px;
    -fx-pref-width: 500px;
    -fx-font-family: 'monospace';
}

.file-name-field {
	-fx-pref-width: 447px;
	-fx-pref-height: 25px;
}

.import-button {
	-fx-pref-height: 25px;
	-fx-pref-width: 150px;
}

.data-container {
	-fx-orientation: vertical;
}

.table-container {
	-fx-pref-width: 160px;
	-fx-min-height: 0;
	-fx-min-width: 0;
}

.data-table {
	-fx-pref-width: 480px;
}

.data-table .table-column {
	-fx-pref-width: 120px;
}

.data-fields-container {
	-fx-min-width: 0;
	-fx-min-height: 0;
	-fx-pref-width: 160px;
}

.horizontal-split {
	-fx-orientation: horizontal;
}

.vertical-split {
	-fx-orientation: vertical;
}

.outsidebox {
	-fx-padding: 10px;
    -fx-spacing: 10px;
}

.full-box {
	-fx-padding: 15px;
	-fx-spacing: 10px;
}

.space {
	-fx-spacing: 5px;
}