.label {
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

Button {
	-fx-font-size: 9pt;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
}

.buttons {
	-fx-spacing: 15px;
}

.labels > Label {
    -fx-max-width: 640px;
    -fx-pref-height: 25px;
    -fx-padding: 0 0 0 15px;
    -fx-text-fill: #f00;
    -fx-wrap-text: true;
}

.main-box {
	-fx-pref-width: 640px;
}

.analysis-buttons {
	-fx-pref-height: 200px;
	-fx-pref-width: 100px;
	-fx-spacing: 20px;
    -fx-padding: 15px;
}

.analysis-spacing {
    -fx-spacing: 15px;
}

.border {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.analysis-text-out {
    -fx-padding: 15px;
    -fx-font-family: 'monospace';
    -fx-max-width: 5000px;
}
.analysis-text {
    -fx-font-family: 'monospace';
    -fx-pref-width: inherit;
    -fx-max-width: 5000px;
}

.file-name-field {
	-fx-pref-width: 447px;
	-fx-pref-height: 25px;
}

.import-button {
	-fx-pref-height: 25px;
	-fx-pref-width: 170px;
}

.visualization-button {
    -fx-pref-height: 25px;
    -fx-pref-width: 130px;
}

.analysis-button {
    -fx-pref-height: 25px;
    -fx-pref-width: 80px;
}

.button-container {
    -fx-padding: 15px;
}

.data-container {
	-fx-orientation: vertical;
}

.table-container {
	-fx-pref-width: 160px;
	-fx-min-height: 0;
	-fx-min-width: 0;
}

.data-table {
	-fx-pref-width: 480px;
}

.data-table .table-column {
	-fx-pref-width: 120px;
}

.data-fields-container {
	-fx-min-width: 0;
	-fx-min-height: 0;
	-fx-pref-width: 160px;
}

.horizontal-split {
	-fx-orientation: horizontal;
}

.vertical-split {
	-fx-orientation: vertical;
}

.outsidebox {
	-fx-padding: 10px;
    -fx-spacing: 10px;
}

.full-box {
	-fx-padding: 15px;
	-fx-spacing: 10px;
}

.space {
	-fx-spacing: 5px;
}

.progressBox {
	-fx-padding: 10px, 10px, 10px, 10px;
}

.progressBox > Label {
	-fx-padding: 10px, 0px, 0px, 0px;;
}

ProgressIndicator {
	-fx-pref-height: 20px;
	-fx-pref-width: 20px;
	visibility: hidden;
}